<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://image.tmdb.org/t/p/original//9n2tJBplPbgR2ca05hS5CKXwP2c.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">The Super Mario Bros.</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span>star</span><span class="rating-value">7.5</span
            ><span>/10</span>
          </span>
          <span>207 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc">
        While working underground to fix a water main, Brooklyn plumbers—and
        brothers—Mario and Luigi are transported down a mysterious pipe and
        wander into a magical new world. But when the brothers are separated,
        Mario embarks on an epic quest to find Luigi.
      </div>
    </div>
  </div>
</div>
